### Any locally created PDF files ###
*.pdf

### Nix ###
result

### Site ###
site/.cache
# Examples are included during nix build except for the index file
!site/docs/examples/index.md
site/docs/examples/
# Options docs are included during nix build
site/docs/modules/
